body{
margin:0;
height:100vh;


}   
canvas{

display:block;
position: fixed;
top: 0;
left: 0;



}

#title {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Silkscreen';
    font-size: 55px;
    letter-spacing: 10px;
}

#subtitle {
	position: absolute;
	top: 70%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    margin-top: 20px;

}

#subtitlemain {
	position: absolute;
	top: 20%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    margin-top: 20px;

}

#titleone {
	position: absolute;
	top: 300%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Silkscreen';
    font-size: 55px;
    letter-spacing: 10px;
}


#titlethree {
	position: absolute;
	top: 940%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Silkscreen';
    font-size: 55px;
    letter-spacing: 10px;
}


#titlefour {
	position: absolute;
	top: 1250%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Silkscreen';
    font-size: 55px;
    letter-spacing: 10px;
}


#subtitleone {
	position: absolute;
	top: 320%;
	width: 50%;
	
	z-index: 100;
	display: flex;
	justify-content: space-evenly;
    flex-direction: column;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    margin-top: 20px;

}

#titletwo {
	position: absolute;
	top: 600%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Silkscreen';
    font-size: 55px;
    letter-spacing: 10px;
}



#subtitletwo {
	position: absolute;
	top: 620%;
	width: 80%;
	margin-left: 9%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    margin-top: 20px;

}

#subtitlethree {
	position: absolute;
	top: 680%;
	width: 80%;
	margin-left: 9%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    margin-top: 20px;
}


#subtitlefour {
	position: absolute;
	top: 730%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    margin-top: 20px;
}

#subtitlefive {
    position: absolute;
    top: 790%;
    width: 80%;
    margin-left: 9%;
    text-align: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    margin-top: 20px;
}

.me {
	height: 458px;
    width: 409px;
    margin-left: 130%;
}

.skem{
	background-color: rgb(207, 207, 207);
	border-radius: 15px;
	padding: 10px 50px;
}

b{
	font-size: 30px;
}

.button {
	padding: 10px 44px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	border: 2px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	background-color: transparent;
	color: white;
	border-radius: 15px;
	animation: leave 0.4s forwards;
	font-family: 'Teko', sans-serif;
  }

  .button:hover {animation: hover 0.4s forwards;}


  
@keyframes hover {
    from {
        box-shadow: inset 0 0 0 0.01px #d80286;
    }
    to {
        box-shadow: inset 8.79928em 0 0 0.01px #d80286;
        color: #fff;
    }
}

@keyframes leave {
    from {
        box-shadow: inset -8.79928em 0 0 0.01px #d80286;
        color: #fff;
    }
	to {
        box-shadow: inset 0 0 0 0.01px #d80286;
    }
}

.buttonone {
	padding: 10px 50px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	border: 2px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	background-color: transparent;
	color: white;
	border-radius: 15px;
	animation: leaveone 0.4s forwards;
	font-family: 'Teko', sans-serif;
  }
  
  .buttonone:hover {animation: hoverone 0.4s forwards;}

  @keyframes hoverone {
    from {
        box-shadow: inset 0 0 0 0.01px #6c00c4;
    }
    to {
        box-shadow: inset 8.79928em 0 0 0.01px #6c00c4;
        color: #fff;
    }
}

@keyframes leaveone {
    from {
        box-shadow: inset -8.79928em 0 0 0.01px #6c00c4;
        color: #fff;
    }
	to {
        box-shadow: inset 0 0 0 0.01px #6c00c4;
    }
}

#subtitlesix{

    position: absolute;
    top: 965%;
    width: 80%;
    margin-left: 9%;
    text-align: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    margin-top: 20px;
	
}


#subtitleseven {
	position: absolute;
	top: 1270%;
	width: 40%;
	text-align: center;
	z-index: 100;
	display: flex;
    color: white;
    height: max-content;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    margin-top: 20px;
}

.Github{
	height: 480px;
	width: 460px;
}

.linkedin{

	height: 430px;
	width: 400px;
	margin-left: 45px;
    margin-top: 27px;

}

.reveal{
	transform: translateY(100px);

	opacity: 0;
	transition: all 2s ease;
  }
  
.reveal.active{
	position: relative;
	transform: translateY(380px);
	opacity: 1;
  }

.containerreveal{
	transform: translateY(1510px);

	opacity: 0;
	transition: all 2s ease;
  }
  
.containerreveal.active{
	position: relative;
	transform: translateY(1900px);
	opacity: 1;
  }


.containerrevealtwo{
	transform: translateY(3300px);

	opacity: 0;
	transition: all 2s ease;
  }
  
.containerrevealtwo.active{
	position: relative;
	transform: translateY(3700px);
	opacity: 1;
  }

.containerrevealthree{
	transform: translateY(3900px);

	opacity: 0;
	transition: all 2s ease;
  }
  
.containerrevealthree.active{
	position: relative;
	transform: translateY(4090px);
	opacity: 1;
  }

.containerrevealfour{
	transform: translateY(4200px);

	opacity: 0;
	transition: all 2s ease;
  }
  
.containerrevealfour.active{
	position: relative;
	transform: translateY(4400px);
	opacity: 1;
  }


  .containerrevealfive{
	transform: translateY(4500px);

	opacity: 0;
	transition: all 2s ease;
  }

  




.containerrevealfive.active{
	position: relative;
	transform: translateY(4800px);
	opacity: 1;
  }

  .containerrevealsix{
	transform: translateY(5500px);

	opacity: 0;
	transition: all 2s ease;
  }
  
.containerrevealsix.active{
	position: relative;
	transform: translateY(5680px);
	opacity: 1;
  }

.containerrevealseven{
	transform: translateY(7200px);

	opacity: 0;
	transition: all 2s ease;
  }
  
.containerrevealseven.active{
	position: relative;
	transform: translateY(7500px);
	opacity: 1;
  }


.popup .overlay {

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	z-index: 1;


}
  
.popup .content{
	position: absolute;
	top: 965%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width:  450px;
	height: 220px;
	z-index: 2;
	text-align: center;
	padding: 20px;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 680px)
and (orientation: portrait) {
  #title {

	font-size: 35px;

  }

  .reveal.active {
    position: relative;
    transform: translateY(447px);
    opacity: 1;
}

.containerreveal.active {
    position: relative;
    transform: translateY(2090px);
    opacity: 1;
}

.me {
    height: 458px;
    width: 409px;
    margin-left: 8%;
}

.containerrevealtwo.active {
    position: relative;
    transform: translateY(4116px);
    opacity: 1;
}

.containerrevealthree.active {
    position: relative;
    transform: translateY(4804px);
    opacity: 1;
}

.containerrevealfour.active {
    position: relative;
    transform: translateY(5215px);
    opacity: 1;
}

.containerrevealfive.active {
    position: relative;
    transform: translateY(5744px);
    opacity: 1;
}

.containerrevealsix.active {
    position: relative;
    transform: translateY(6453px);
    opacity: 1;
}

img {
	width: 343px;
}

#subtitlesix{
	margin-left: 5%;
}

.skem {
    background-color: rgb(207, 207, 207);
    border-radius: 15px;
    padding: 0px 0px;
}

.containerrevealseven.active {
    position: relative;
    transform: translateY(8499px);
    opacity: 1;
}

#subtitleseven{
	display: flex;
	flex-direction: column;
}

.git{
	margin-left: 80%;
}

.lin{
	margin-left: 80%;
}

.Github {
    height: 416px;
    width: 377px;
}

.linkedin{
	height: 355px;
    width: 315px;
    margin-left: 30px;
}

#titleone{
	font-size: 35px;
}

#titletwo{
	font-size: 35px;
}

#titlethree{
	font-size: 35px;
}

#titlefour{
	font-size: 35px;
}



}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
		
		
		.reveal.active {
			position: relative;
			transform: translateY(552px);
			opacity: 1;
		}

		#subtitleone{
			margin-left: 31px;
		}

		#titleone{
			top: 220%;
		}

		#titletwo{
			top: 440%;
		}

		#titlethree{
			top: 708%;
		}

		#subtitlesix{
			margin-left: 10%;
		}


		#subtitlefour{
			width: 82%;
			margin-left: 42px;
		}

		#subtitleseven {
			margin-left: 26px;
		}

		#titlefour{
			top: 930%
		}

		.git {
			margin-left: 70%;
		}

		.lin {
			margin-left: 70%;
		}



	}


	@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {


		.reveal.active {
			position: relative;
			transform: translateY(540px);
			opacity: 1;
		}

		#titleone{
			top: 220%;
		}

		#subtitlefour{
			width: 82%;
			margin-left: 42px;
		}

		#titletwo{
			top: 470%;
		}

		#titlethree{
			top: 750%;
		}

		#titlefour{
			top: 990%;
		}

	 }


	 /* Pixel 5 */
	 @media only screen 
    and (device-width: 393px) 
    and (device-height: 851px) 
     {


		.reveal.active {
			position: relative;
			transform: translateY(544px);
			opacity: 1;
		}

		#titleone{
			top: 220%;
		}

		#subtitlefour{
			width: 82%;
			margin-left: 42px;
		}

		#titletwo{
			top: 470%;
		}

		#titlethree{
			top: 750%;
		}

		#titlefour{
			top: 990%;
		}

	 }


	 /* Samsung Galaxy s8+ */
	 @media only screen 
    and (device-width: 360px) 
    and (device-height: 740px) 
     {


		.reveal.active {
			position: relative;
			transform: translateY(655px);
			opacity: 1;
		}

		#titleone{
			top: 220%;
		}

		#subtitlefour{
			width: 82%;
			margin-left: 42px;
		}

		#titletwo{
			top: 540%;
		}

		#titlethree{
			top: 855%;
		}

		#titlefour{
			top: 1120%;
		}

		.containerreveal.active {
			position: relative;
			transform: translateY(1778px);
			opacity: 1;
		}

	 }




	 /* Samsung Galaxy s20 Ultra */
	 @media only screen 
    and (device-width: 412px) 
    and (device-height: 915px) 
     {


		.reveal.active {
			position: relative;
			transform: translateY(586px);
			opacity: 1;
		}

		#titleone{
			top: 220%;
		}

		#subtitlefour{
			width: 82%;
			margin-left: 42px;
		}

		#titletwo{
			top: 430%;
		}

		#titlethree{
			top: 690%;
		}

		#titlefour{
			top: 910%;
		}

		.containerreveal.active {
			position: relative;
			transform: translateY(2130px);
			opacity: 1;
		}

	 }


	 /* ipad air */
	 @media only screen 
    and (device-width: 820px) 
    and (device-height: 1180px) 
     {


		#subtitlemain, #subtitletwo, #title, #subtitle,#titleone,#subtitlethree,#subtitlefour,#subtitlefive,#subtitlesix,#subtitleseven,#titletwo,#titlethree,#titlefour{
			width: 114%;
		}

		#subtitleone{

			width: 80%;
		}

		.reveal.active {
			position: relative;
			transform: translateY(705px);
			opacity: 1;
		}

		#titleone{
			top: 160%;
		}

			#subtitlefour {
				width: 100%;
				margin-left: 25%;
			}


		#titletwo{
			top: 290%;
		}

		#titlethree{
			top: 460%;
		}

		#titlefour{
			top: 620%;
		}

		.containerreveal.active {
			position: relative;
			transform: translateY(2130px);
			opacity: 1;
		}

	 }

	